<% if @customer.present? %>
  <h3>User: <%= @customer.name %></h3>
  <%= render partial: 'stock_list' %>
  <%= render partial: 'cart_list' %>
<% else %>
  <%= render partial: 'customer_selection' %>
<% end %>
